.row {
    display: flex;
    margin-left: 1px !important;
    margin-right: 1px !important;
}

.column {
    flex-direction: column;
}

.weatherblock {
    border-width: 1px;
    border-style: double;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    font-weight: bold;
}